body {
  background-color: rgb(204, 204, 204, 0.6);
  margin: 100px 50px;
  min-width: 468px;
}

.Search .search-form {
  display: block;
  margin: 20px;
}

.App {
  font-family: sans-serif;
  margin: 60px auto;
  max-width: 660px;
  text-align: center;
      
}

.App .card {
  border: solid 1px #f73278;
  box-shadow: 3px 3px 3px rgb(93, 91, 112, 0.8);
  color: #3f3d56;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
  padding: 10px 30px 20px;
  text-align: left;
}

@media (max-width: 576px) {
  body {
    margin: 100px 10px;
  }
  .Search .search-button {
    margin-top: 10px;
  }
}