body {
  background-color: rgb(204, 204, 204);
  margin: 100px 50px;
  min-width: 468px;
}

.App {
  margin: 60px auto;
  max-width: 500px;
  
}

.App h1 {
  font-family: 'Mooli', sans-serif;
  font-size: 48px;
  font-weight: bolder;
  margin: 100px auto 20px;
  text-transform: uppercase;
}

.App .card {
  border: solid 1px #f73278;
  box-shadow: 3px 3px 3px rgb(93, 91, 112, 0.8);
  color: #3f3d56;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
  padding: 10px 30px 20px;
  text-align: left;
}

.Search .search-form {
  display: block;
  margin: 20px;
}
@media (max-width: 576px) {
  body {
    margin: 100px 10px;
  }
.App h1 {
  font-size: 50px;
}

  .Search .search-button {
    margin-top: 10px;
  }
}