body {
  background-color: rgb(164, 162, 162);
  min-width: 330px;
}

.App {
  margin: 60px auto;
  max-width: 500px;
  
}

.App h1 {
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  font-family: 'Mooli', sans-serif;
  font-size: 43px;
  font-weight: bolder;
  margin: 80px auto 20px; 
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.App .card {
  background-color: #8fc0da;
  border: solid 2px white;
  box-shadow: 3px 3px 3px rgb(93, 91, 112, 0.8);
  color: #2a2a2a;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  text-align: left;
}


@media (max-width: 650px) {
  body {
    margin: 10px;
  }
.App h1 {
  font-size: 35px;
}

  .Search .search-button {
    margin-top: 10px;
  }
}