  
.Weather .search-form {
  margin: 20px;
}

.Weather .search-button {
  background-color: rgb(245, 0, 91, 0.7);
  color: white;
  font-weight: 450;
}
.Weather .search-button:hover, .search-field:hover {
  transform: scale(1.1);
}

  .Weather h2 {
    font-family: 'Mooli', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
  }
  
  .Weather h3 {
    display: inline;
    font-size: 35px;
    font-weight: 500;
  }
  
  .Weather h4 {
    display: inline;
    font-family: 'Mooli', sans-serif;
    font-size: 18px;
    font-weight: 450;
    position: relative;
    top: -9px;
  } 

  .weatherIcon {
    padding: 0;
  }


  .Weather h5 {
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .Weather h6 {
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .Weather ul {
    padding: 0;
  }
  
  .Weather li {
    font-weight: bold;
    letter-spacing: 4px;
    list-style: none;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    transition: all ease-in-out 80ms;
  }

  a:hover {
    color: #f5005bff;
    font-weight: 800;
    transform: scale(1.5);
  }
  
  .Weather .date {
    color: #f5005bff;
  }

  .WeatherForecastDay {
    font-size: 18px;
    font-weight: 450;
  }

  .WeatherForecastDay .ForecastTempMin {
    opacity: 0.6;
  }

  
  @media (max-width: 576px) {
   
    .Weather h2 {
      font-size: 38px;
      font-weight: bolder;
      margin-top: 10px;
    }

    .Weather h3 {
      font-size: 30px;
      
    }
  
    .Weather h5 {
      font-size: 18px;
      margin-top: 20px;
          }
  
    .Weather h6 {
      font-size: 10px;
    }

    .WeatherForecastDay {
      font-size: 15px;
      
    }
  }
  