  
.Weather .search-form {
  margin: 20px;
}

.Weather .weatherInfo {
  padding: 5px 2px 0 35px;
}

  .Weather h2 {
    font-family: 'Mooli', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }

  
  
  .Weather h3 {
    display: inline;
    font-size: 35px;
    font-weight: 500;
  }
  
  .Weather h4 {
    display: inline;
    font-family: 'Mooli', sans-serif;
    font-size: 20px;
    font-weight: 450;
    position: relative;
    top: -9px;
  }

  .weather-icon {
    position: relative;
    top: -9px;
  }

  .Weather h5 {
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .Weather h6 {
    font-size: 13px;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .Weather ul {
    padding: 0;
  }
  
  .Weather li {
    font-weight: bold;
    letter-spacing: 4px;
    list-style: none;
    font-size: 15px;
  }
  
  .Weather .date {
    color: #f5005bff;
  }

  
  @media (max-width: 576px) {
   
    .Weather h2 {
      font-size: 40px;
      font-weight: bolder;
      margin-top: 10px;
    }
  
    .Weather h5 {
      font-size: 20px;
          }
  
    .Weather h6 {
      font-size: 10px;
    }
  
    

    .Weather .weather-img {
      display: none;
    }
  }
  