.Weather .weatherText {
    margin-left: 20px;
  }
  
  .Weather h2 {
    font-size: 50px;
    font-weight: 700;
  }
  
  .Weather h3 {
    display: inline;
    font-size: 40px;
    font-weight: 500;
  }
  
  .Weather h4 {
    display: inline;
    font-size: 25px;
    font-weight: 450;
    position: relative;
    top: -9px;
  }
  
  .Weather h5 {
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .Weather h6 {
    font-size: 13px;
  }
  
  .Weather ul {
    padding: 0;
  }
  
  .Weather li {
    list-style: none;
    font-size: 15px;
  }
  
  .Weather .date {
    color: #f5005bff;
  }
  
  .Weather img {
    margin-top: 10px;
  }

  
  @media (max-width: 576px) {
    .Weather h1 {
      font-size: 40px;
      font-weight: bolder;
      margin-top: 10px;
    }
  
    .Weather h4 {
      font-size: 20px;
      text-transform: capitalize;
    }
  
    .Weather h5 {
      font-size: 10px;
    }
  
    .Weather ul {
      display: none;
    }
  }
  